/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ========================================================== */

/* responsive */
@media only screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
  }
}

/* header */
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-container {
  margin: 10px;
  display: flex;
}
.header-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
  border-radius: 20px;
}
.header-container > img {
  margin-right: auto;
}
.header-menu > a {
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}
a:hover, a:active {
  background-color: yellow;
}

/* hero */
.hero {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.hero_Container {
  margin: auto;
}
.hero_title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 10px;
}
.hero_img {
  width: 1100px;
  height: 100%;
}
.hero_p {
  margin-bottom: 20px;
}
.hero-line {
  border: 3px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* headquarter */
.headquarter_Container {
  max-width: 1200px;
  width: 100%;
}
.headquarter-title {
  font-weight: 700;
  font-size: 30px;
}
.headquarter-head {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.headquarter-gallery {
  margin-top: 30px;
  display: flex;
  padding-left: 40px;
  gap: 40px;
}

/* message us */
.messageus-title {
  display: flex;
  padding-bottom: 10px;
}

/* form */
.form-container {
  flex-direction: row;
  display: flex;
}
.form-container > div {
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
}
.form-output {
  display: flex;
  flex-direction: column;
}

/* footer */
footer {
  background: bisques;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}
.footer {
  display: flex;
  /* justify-content: flex-end; */
}
.footer > p {
  margin-left: auto;
}
